@import url('https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap');

body {
 background-color: #ede2d3;
 color: #5e4325;
 font-family: 'Spline Sans', sans-serif;
 margin: 2em;
}

br {
 display: block;
 content: " ";
 margin-top: .5em;
}

.date {
 max-width: 1000px;
 margin: 2em auto;
 background-color: white;
 padding: .5em 1em;
 border-radius: 12px;
}

.tags {
 font-size: 1em;
}

.tags > * {
 color:  #cc967b;
 text-decoration: underline;
 cursor: pointer;
}

.tags > *:hover {
 font-weight: bold;
}